@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  min-height: 100vh;
}

#root{
  min-height: 100vh;
  background-color: #134e4a;
}

button{
  background-color: #0d9488;
  color: #ccfbf1;
  border-radius: 5%;
  padding: 8px;
}
