@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.registration-box {
  width: 300px;
  height: 425px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10%;
}

.input-field {
    border: 1px solid black;
    border-radius: 0.25rem;
    width: fit-content;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: rgb(55 65 81);
}

.fields {
  text-align: center;
}

.title {
  text-align: center;
}

button {
  background-color: #007bff;
  color: #ffff;
  border-radius: 5%;
  padding: 8px;
}

.content {
  flex-grow: 1;
}